[access "refs/heads/*"]
        label-Approved = +0..+1 group sarlacc-core
        label-Code-Review = -2..+2 group sarlacc-core
[access "refs/tags/*"]
        create = group sarlacc-core
        pushTag = group sarlacc-core
[project]
        state = active
[receive]
        requireChangeId = true
[submit]
        mergeContent = true
